*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

body {
  font-family: cursive;
  background-color: #e6fbff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  margin: 30px 0;
  user-select: none;
  cursor: auto;
}

h1 {
  font-size: 65px;
  color: #ff8b59;
}

button {
  font-family: cursive;
  border: 1px solid #ff8b59;
  border-radius: 5px;
  color: #d9f5fa;
  background-color: #ff8b59;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  outline: none;
}

.main {
  flex-direction: column;
  align-items: center;
}


.main-div-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  background-color: #18396e;
  
}

.cell {
  min-width: 100px;
  min-height: 100px;
  font-size: 40px;
  color: #d9f5fa;
  border: 5px solid #ff8b59;
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none; 
  position: fixed; 
  /*z-index: 1;*/
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*background-color: rgb(0,0,0);*/
  background-color: rgba(0,0,0,0.5);
}

.modal.active {
  display: block; 
}

.modal-content{
  background-color: #e6fbff;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  gap: 20px;
  padding: 20px;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
}

.modal-content.active {
  transform: translate(-50%, -150%) scale(1);
}

.modal-content > p {
  font-size: 19px;
  color: #ff8b59;
}

.modal-form {
  color: #ff8b59;
  font-size: 26px;
  gap: 60px;
}

input[type='text'],
input[type='number'] {
  cursor: text;
}












